@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}

body 
{
	background: #F3F5F9;
}

.wrapper
{
	display: flex;
	position: relative;
}

.wrapper .leftsidebar
{
	position: fixed;
	width: 200px;
	height: 100%;
	background: #4B4276;
	padding: 30px 0;
}

.wrapper .leftsidebar h1
{
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.wrapper .leftsidebar ul li
{
	padding: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .leftsidebar ul li a
{
	color: #BDB8D7;
	display: block;
}

.wrapper .leftsidebar ul li a .fas
{
	width: 25px;
}

.wrapper .leftsidebar ul li:hover
{
	background: #594F8D;
}

.wrapper .leftsidebar ul li:hover a
{
	color: #FFF;
}

.wrapper .mainWindowContent
{
	width: 100%;
	margin-left: 200px;
}

.wrapper .mainWindowContent .header
{
	text-align: center;
	padding: 20px;
	background: #FFF;
	color: #594F8D;
	border-bottom: 1px solid #E0E4E8;
}

.wrapper .mainWindowContent .information
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper .mainWindowContent .information .inputMainForm
{
	width: 500px;
	padding: 4rem 4rem;
/*	border-radius: 1rem;*/
/*	box-shadow: 0 10px 25px rgba(92, 99, 105, .2)*/
}

.wrapper .mainWindowContent .information .hForm
{
	font-weight: 400;
	margin-bottom: 2rem;
}

.wrapper .mainWindowContent .information .delFormDiv .formInputDiv
{
	position: relative;
	height: 48px;
	margin-bottom: 2rem;
}

.wrapper .mainWindowContent .information .delFormDiv .inputForm
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 1rem;
	border: 1px solid #594F8D;
	border-radius: .8rem;
	outline: none;
	padding: 1rem;
	background: none;
	z-index: 1;
}

.wrapper .mainWindowContent .information .btnsInputDiv .formBtnAdd
{
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
/*	display: block;
	margin-left: auto;*/
	padding: .75rem 2rem;
	outline: none;
	border:none;
	background-color: #594F8D;
	color: #FFF;
	font-size: 1rem;
	border-radius: .8rem;
	cursor: pointer;
	transition: .3s;
}

.wrapper .mainWindowContent .information .btnsInputDiv .formBtnAdd:hover
{
	box-shadow: 0 10px 36px rgba(0, 0, 0, .15)
}

h2
{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	color: #594F8D;
}