@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}

body 
{
	background: #F3F5F9;
}

.wrapper
{
	display: flex;
	position: relative;
}

.wrapper .leftsidebar
{
	position: fixed;
	width: 200px;
	height: 100%;
	background: #4B4276;
	padding: 30px 0;
}

.wrapper .leftsidebar h1
{
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.wrapper .leftsidebar ul li
{
	padding: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .leftsidebar ul li a
{
	color: #BDB8D7;
	display: block;
}

.wrapper .leftsidebar ul li a .fas
{
	width: 25px;
}

.wrapper .leftsidebar ul li:hover
{
	background: #594F8D;
}

.wrapper .leftsidebar ul li:hover a
{
	color: #FFF;
}

.wrapper .mainWindowContent
{
	width: 100%;
	margin-left: 200px;
}

.wrapper .mainWindowContent .header
{
	text-align: center;
	padding: 20px;
	background: #FFF;
	color: #594F8D;
	border-bottom: 1px solid #E0E4E8;
}

.wrapper .mainWindowContent .information
{
	margin: 20px;
	color: #717171;
	line-height: 25px;
}

.wrapper .mainWindowContent .information div
{
	margin-bottom: 20px;
	color: #717171;
}