@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}

body 
{
	background: #F3F5F9;
}

.wrapper
{
	display: flex;
	position: relative;
}

.wrapper .leftsidebar
{
	position: fixed;
	width: 200px;
	height: 100%;
	background: #4B4276;
	padding: 30px 0;
}

.wrapper .leftsidebar h1
{
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.wrapper .leftsidebar ul li
{
	padding: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .leftsidebar ul li a
{
	color: #BDB8D7;
	display: block;
}

.wrapper .leftsidebar ul li a .fas
{
	width: 25px;
}

.wrapper .leftsidebar ul .subMenu li a .fas
{
	margin-left: 25px;
	font-size: 12px;
	width: 25px;
}

.wrapper .leftsidebar ul li:hover
{
	background: #594F8D;
}

.wrapper .leftsidebar ul li:hover a
{
	color: #FFF;
}

.wrapper .mainWindowContent
{
	width: 100%;
	margin-left: 200px;
}

.wrapper .mainWindowContent .header
{
	text-align: center;
	padding: 20px;
	background: #FFF;
	color: #717171;
	border-bottom: 1px solid #E0E4E8;
}

.wrapper .mainWindowContent .information
{
	display: flex;
	justify-content: center;
	align-items: center;
}

table
{
	font-family: monospace;
	text-align: center;
	border-collapse: collapse;	
}

th
{
	font-weight: 300;
	padding: 15px 35px;
	color: #8c8c8c;
	text-transform: uppercase;
	font-size: 15px;
}

td
{
	font-size: 18px;
	padding: 15px 35px;
}


.wrapper .mainWindowContent .information .mainField
{
/*	border-top: 1px solid #8c8c8c;*/
}

.wrapper .mainWindowContent .information .field
{
/*	border-top: 1px solid #8c8c8c;*/
	transition: 0.5s;
}

.wrapper .mainWindowContent .information .field:hover
{
	background-color: #594F8D;
	color: #FFF;
	transition: 0.2s;
}

a.disabled 
{
    pointer-events: none;
    cursor: default;
    color: #999;
}
