.main
{
	font-family: 'Poppins', sans-serif;
	color: #5a84a2;
	text-align: center;
}

a
{
	position: relative;
	display: inline-block;
	padding: 10px 120px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	color: #5a84a2;
	font-size: 18px;
	border-radius: 40px;
	box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
				-2px -2px 12px rgba(255, 255, 255, 0.5),
				inset 2px 2px 4px rgba(255, 255, 255, 0.1),
				2px 2px 8px rgba(0, 0, 0, 0.15);
}

a:hover
{
	box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
				inset -2px -2px 12px rgba(255, 255, 255, 0.5),
				inset 2px 2px 4px rgba(255, 255, 255, 0.1),
				inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

a:hover span
{
	display: inline-block;
	transform: scale(0.98);
}

.buttons
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.inputs
{
	display: flex;
	justify-content: center;
	align-content: space-between;
	align-items: center;
	flex-direction: column;
}

.inputs div
{
	display: flex;
	width: 300px;
	justify-content: space-between;
}