.main
{
	font-family: 'Poppins', sans-serif;
	color: #5a84a2;
	text-align: center;
}

a
{
	position: relative;
	display: inline-block;
	padding: 10px 120px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	color: #5a84a2;
	font-size: 18px;
	border-radius: 40px;
	box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
				-2px -2px 12px rgba(255, 255, 255, 0.5),
				inset 2px 2px 4px rgba(255, 255, 255, 0.1),
				2px 2px 8px rgba(0, 0, 0, 0.15);
}

a:hover
{
	box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
				inset -2px -2px 12px rgba(255, 255, 255, 0.5),
				inset 2px 2px 4px rgba(255, 255, 255, 0.1),
				inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

a:hover span
{
	display: inline-block;
	transform: scale(0.98);
}

.buttonSearch
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.buttonAdd
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

table 
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	border-collapse: collapse;
	text-align: center;
}

th, td
{
	background: #5a84a2;
	color: white;
	padding: 10px 20px;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	border-color: white;
}

td 
{
	background: #afcde7;
}